.idea/
.vscode/

.npm-cache/
node_modules/
vendor/

.env
.env.*
!.env.example

backend/vendor/
backend/node_modules/
backend/storage/logs/*.log
backend/database/database.sqlite

frontend/node_modules/
frontend/dist/

*.log
*.tmp
Thumbs.db
.DS_Store
